### Arquivos ignorados pelo git

# Arquivos e diretórios gerados pelo TeX
doc/fase1/aux/
*.log
*.1
*.fls
*.aux
*.fdb_latexmk

# Arquivos gerados pelo Java
bin/
*.class
doc/

# Outros
*~
*.dropbox.attr
.nfs*
*#
